VS ApexCode/UlbergProject0/force-app/main/default/flows/CreatePrevSoldItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignPrev</name>
        <label>AssignPrev</label>
        <locationX>196</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>PrevSoldItem.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrevSoldItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrevSoldItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePrev</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CreatePrevSoldItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreatePrevSoldItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePrev</name>
        <label>CreatePrev</label>
        <locationX>174</locationX>
        <locationY>474</locationY>
        <inputReference>PrevSoldItem</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AssignPrev</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ItemStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PrevSoldItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Previously_Sold_Item__c</objectType>
    </variables>
</Flow>
