VS ApexCode/UlbergProject0/force-app/main/default/flows/CreateRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignContact</name>
        <label>AssignContact</label>
        <locationX>285</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>CurrentOffer.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOffer.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductOfferingOn.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOffer.Offer_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfferAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOffer</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>GetContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Products</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>ProductContact.Id</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SoldItems</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Previously_Sold_Item__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CreateRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Offer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOffer</name>
        <label>CreateOffer</label>
        <locationX>562</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Bottom</targetReference>
        </faultConnector>
        <inputReference>CurrentOffer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetProducts</name>
        <label>GetProducts</label>
        <locationX>244</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ProductOfferingOn</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Bottom</name>
        <label>Bottom</label>
        <locationX>99</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_An_Offer</targetReference>
        </connector>
        <fields>
            <name>FaultScreen</name>
            <fieldText>&lt;p&gt;Contact must be the same contact that is selling the item&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_An_Offer</name>
        <label>Create An Offer</label>
        <locationX>132</locationX>
        <locationY>159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetProducts</targetReference>
        </connector>
        <fields>
            <name>Name_on_offer</name>
            <dataType>String</dataType>
            <fieldText>Name on offer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product</name>
            <choiceReferences>Products</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OfferAmount</name>
            <dataType>Currency</dataType>
            <fieldText>OfferAmount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>OfferEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Your email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>719</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GoodBye</name>
            <fieldText>&lt;p&gt;Thank you for offering on an item we will get back to you as soon as possible.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>77</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Create_An_Offer</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentOffer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CurrentOffer__c</objectType>
    </variables>
    <variables>
        <name>ProductContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ProductOfferingOn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
