Project2/force-app/main/default/flows/Standard_Task_Updates_Inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Minus1Bleach</name>
        <label>Minus1Bleach</label>
        <locationX>1009</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Constant1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BleachUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minus1Oxyclean</name>
        <label>Minus1Oxyclean</label>
        <locationX>1008</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Constant1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OxycleanUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MinusOneWindex</name>
        <label>MinusOneWindex</label>
        <locationX>1013</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Constant1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WindexUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Bleach_Option</name>
        <label>Update Bleach Option</label>
        <locationX>872</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bleach</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bleach_Was_Used.Inventory_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minus1Bleach</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Oxyclean_Option</name>
        <label>Update Oxyclean Option</label>
        <locationX>874</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Oxyclean</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oxyclean_Was_Used.Inventory_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minus1Oxyclean</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Windex_Option</name>
        <label>Update Windex Option</label>
        <locationX>868</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Oxyclean</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Windex_Was_Used.Inventory_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MinusOneWindex</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Constant1</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Type_of_Task</name>
        <label>Type of Task</label>
        <locationX>450</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clean_Bathroom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clean Bathroom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bleach_Was_Used</targetReference>
            </connector>
            <label>Clean Bathroom</label>
        </rules>
        <rules>
            <name>Clean_Tables</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clean Tables</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oxyclean_Was_Used</targetReference>
            </connector>
            <label>Clean Tables</label>
        </rules>
        <rules>
            <name>Mop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oxyclean_Was_Used</targetReference>
            </connector>
            <label>Mop</label>
        </rules>
        <rules>
            <name>Wipe_Windows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wipe Windows</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Windex_Was_Used</targetReference>
            </connector>
            <label>Wipe Windows</label>
        </rules>
    </decisions>
    <interviewLabel>Standard Task Updates Inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Standard Task Updates Inventory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Bleach_Was_Used</name>
        <label>Bleach Was Used</label>
        <locationX>689</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Bleach_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bleach</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Oxyclean_Was_Used</name>
        <label>Oxyclean Was Used</label>
        <locationX>684</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Oxyclean_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oxyclean</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Windex_Was_Used</name>
        <label>Windex Was Used</label>
        <locationX>681</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Windex_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Windex</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BleachUpdate</name>
        <label>BleachUpdate</label>
        <locationX>1142</locationX>
        <locationY>198</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bleach</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventory_Amount__c</field>
            <value>
                <elementReference>UpdatedRecord.Inventory_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>OxycleanUpdate</name>
        <label>OxycleanUpdate</label>
        <locationX>1149</locationX>
        <locationY>341</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oxyclean</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventory_Amount__c</field>
            <value>
                <elementReference>UpdatedRecord.Inventory_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>WindexUpdate</name>
        <label>WindexUpdate</label>
        <locationX>1149</locationX>
        <locationY>502</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Windex</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventory_Amount__c</field>
            <value>
                <elementReference>UpdatedRecord.Inventory_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Type_of_Task</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>UpdatedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
</Flow>
