Project2/force-app/main/default/flows/TaskUpdateInventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Minus1Bleach</name>
        <label>Minus1Bleach</label>
        <locationX>1015</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>ConstantOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BleachUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minus1Oxyclean</name>
        <label>Minus1Oxyclean</label>
        <locationX>1029</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>ConstantOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OxycleanUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minus1Windex</name>
        <label>Minus1Windex</label>
        <locationX>1024</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>ConstantOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WindexUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOxycleanObject</name>
        <label>UpdateOxycleanObject</label>
        <locationX>876</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Oxyclean</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oxyclean_Was_Used.Inventory_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minus1Oxyclean</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatePersonalObject</name>
        <label>UpdatePersonalObject</label>
        <locationX>869</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bleach</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bleach_Was_Used.Inventory_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minus1Bleach</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateWindexOption</name>
        <label>UpdateWindexOption</label>
        <locationX>902</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Windex</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Inventory_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Windex_Was_Used.Inventory_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Minus1Windex</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ConstantOne</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Type_of_Task</name>
        <label>Type of Task</label>
        <locationX>420</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>No Supplies Needed</defaultConnectorLabel>
        <rules>
            <name>Clean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clean Bathroom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bleach_Was_Used</targetReference>
            </connector>
            <label>Clean Bathroom</label>
        </rules>
        <rules>
            <name>Clean_Tables</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clean Tables</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oxyclean_Was_Used</targetReference>
            </connector>
            <label>Clean Tables</label>
        </rules>
        <rules>
            <name>Mop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oxyclean_Was_Used</targetReference>
            </connector>
            <label>Mop</label>
        </rules>
        <rules>
            <name>Wipe_Windows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wipe Windows</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Windex_Was_Used</targetReference>
            </connector>
            <label>Wipe Windows</label>
        </rules>
    </decisions>
    <interviewLabel>TaskUpdateInventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TaskUpdateInventoryUpdateAttempt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Bleach_Was_Used</name>
        <label>Bleach Was Used</label>
        <locationX>743</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePersonalObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bleach</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Oxyclean_Was_Used</name>
        <label>Oxyclean Was Used</label>
        <locationX>734</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOxycleanObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oxyclean</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Windex_Was_Used</name>
        <label>Windex Was Used</label>
        <locationX>726</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateWindexOption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Windex</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BleachUpdate</name>
        <label>BleachUpdate</label>
        <locationX>1207</locationX>
        <locationY>181</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bleach</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventory_Amount__c</field>
            <value>
                <elementReference>UpdatedRecord.Inventory_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>OxycleanUpdate</name>
        <label>OxycleanUpdate</label>
        <locationX>1227</locationX>
        <locationY>308</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oxyclean</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventory_Amount__c</field>
            <value>
                <elementReference>UpdatedRecord.Inventory_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>WindexUpdate</name>
        <label>WindexUpdate</label>
        <locationX>1242</locationX>
        <locationY>433</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Windex</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventory_Amount__c</field>
            <value>
                <elementReference>UpdatedRecord.Inventory_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Type_of_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_and_Time_of_Completion__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdatedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
</Flow>
